html, body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#avatar-dropdown.dropdown-menu[data-bs-popper] {
    position: absolute;
    transform: translateX(-200px);
    
}
.navbar-toggler {
    border: solid 1.5px $purplePrimary;
}
.avatar-bell{
    margin-top: 100px;
    margin-right: 10px;
}

main{
    margin :0;
}
h4 {
    color:gray ;
}


hr {
    margin: 1rem 0;
    color: black;
    border: 0;
    border-top: 1px solid;
    opacity: 0.10;
  }

#paragraph1{
    line-height: 1;
    padding-top: 11px;
}

#paragraph2{
    line-height: 1;
    padding-top: 11px;
}

#paragraph3{
    line-height: 1;
    padding-top: 11px;
}

footer  p{
    padding-top: 2em;
    padding-left: 2em;
}

footer div  {
   margin-left: 65em;
}
